.DS_Store
programar/mokepon/node_modules/
programar/mokepon/package*

programar/mokepon/assets/bo-katan.png
programar/mokepon/assets/din-djarin.png
programar/mokepon/assets/fives.png
programar/mokepon/assets/rex.png
programar/mokepon/assets/luke.png
programar/mokepon/assets/vader.png
